#cardStyleLB {
  background-color: #1b1b1b;
  border: none;
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2),
    4px 8px 30px 10px rgba(63, 60, 65, 0.19) !important;
  margin-top: 40px;
  height: 500px;
}
.cardGroup{
    margin-top: 35px;
    background-color: #8A15FC !important;
  }
  .imgStyle{
    height: 280px;
  }
  .card-btn{
    width: 352px;
    height: 60px;
    border-radius: 4px !important;
    color: #EBDBFD;
    background-color: #8A15FC !important;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2), 4px 8px 30px 10px rgba(0, 0, 0, 0.19);
    border: none !important;
    margin-left: -16px;
    margin-bottom: -9px;
    font-size: 1.1rem !important;
    font-weight: 520 !important;
  }
  
  .card-btn:hover{
    background-color: #7110d1 !important;
    width: 353px !important;
  }